header {
    background-color: grey;
}
ul,li,a {
    text-decoration: none;
    list-style: none;
    color: black;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px
}
.cadastro {
    margin-left: 36%;
}